.companies-alpes {
  .bg-cloud {
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 80%;
      height: 12rem;
      bottom: -12rem;
      left: -15rem;
      background-image: url(../assets//imagens/bg-cloud.webp);
      background-repeat: no-repeat;
      background-size: 45%;
      @include sm {
        background-image: none;
      }
      @include md {
        background-image: none;
      }
      @include xl4 {
        width: 66%;
      }
    }
  }
  h3,
  p {
    color: $text-dark-blue;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
  }
  .last {
    font-weight: 400;
  }
  .bg-cloud-left {
    background-image: url(../assets/imagens/cloud-top.webp);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: -28rem 48rem;
    @include xl4 {
      background-position: -28rem 62rem;
    }
    @include md {
      background-image: none;
    }
    @include sm {
      background-image: none;
    }
  }
  .overlay-bottom {
    background-image: url(../assets/imagens/overlay-right.webp);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: bottom;
    @include sm {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: bottom;
    }
  }
  .cases{
    &::after{
      content: "";
      display: block;
      width: 8rem;
      background: $blue;
      height: 2px;
      margin: 0 auto;
      margin-top: .1rem;
    }
  }
  #custom-filter{
    a{
      font-weight: 400;
      font-family: "Michroma", sans-serif;

    }
  }
  .active-cases{
    border-bottom: solid $blue 2px; 
  }
}
