.companies-alpes {
  .bg-cloud {
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 80%;
      height: 12rem;
      bottom: -12rem;
      left: -15rem;
      background-image: url(../assets//imagens/bg-cloud.webp);
      background-repeat: no-repeat;
      background-size: 45%;
      @include sm {
        background-image: none;
      }
      @include md {
        background-image: none;
      }
      @include xl4 {
        width: 66%;
      }
    }
  }
  h5 {
    color: $text-dark-blue;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
  }
  p {
    color: $text-dark-blue;
    font-family: "Open Sans", sans-serif;
    font-weight: 400!important;
  }
  .last {
    font-weight: 400;
  }

  .overlay-bottom {
    background-image: url(../assets/imagens/overlay-right.webp);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: bottom;
    @include sm {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: bottom;
    }
  }
  hr {
    background: #292e4a;
  }
}
