.front-page {
  @include sm {
    overflow-x: hidden !important;
  }
  h1,
  h2 {
    color: $white;
    text-transform: uppercase;
  }
  .come-alpes {
    background-color: transparent;
    position: relative;

    &::after {
      @include sm {
        top: 27rem;
        overflow: hidden;
        width: 7rem;
        content: "";
      }
      content: url(../assets/imagens/cloud-right.webp);
      background-position: center;
      background-attachment: fixed;
      position: absolute;
      top: 35rem;
      background-size: auto;
      right: 0;
      animation: floatCloud 5s ease-in-out infinite alternate;
    }
    &::before {
      @include sm {
        background-image: none;
        background-color: $dark-blue;
      }
      content: "";
      display: block;
      position: absolute;
      @include sm {
        position: initial;
        background-image: none;
      }
      left: 0;
      right: 0;
      top: -4rem;
      bottom: 0;
      background-image: url(../assets/imagens/cloud-top.webp), url(../assets/imagens/cloud-vertical.webp);
      background-attachment: fixed;
      background-position: -25rem -3rem, 0rem 95rem;
      background-size: auto;
      animation: floatCloud 9s ease-in-out infinite alternate;
      background-repeat: no-repeat;
      @include xl3 {
        background-position: -25rem -8rem, 0rem 95rem;
        background-size: 60%, auto;
      }
    }

    @keyframes floatCloud {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-20px);
      }
      100% {
        transform: translateY(0);
      }
    }
    .card-hover {
      transition: all 1s ease;
      &:hover {
        background: $blue;
      }
    }
    .desktop {
      display: inline-flex;
      @include sm {
        display: none;
      }
    }
    .timeline-scroll {
      position: absolute;
      left: 96.5%;
      z-index: 99;
    }
    .items {
      position: relative;
      height: 100vh;
    }

    .item {
      display: flex;
      margin-bottom: 40px;
    }

    .red-dot {
      position: absolute;
      width: 1px;
      background-color: $border;
      top: 0;
      left: 90%;
      height: 455vh;
      @include xl2 {
        height: 500vh;
      }
    }

    .dot {
      position: sticky;
      width: 0.5rem;
      height: 2.5rem;
      margin-left: -0.25rem;
      top: 80vh;
      background: $blue;
    }
    .b-bottom {
      border-bottom: 1px solid;
      color: $border;
    }

    .b-right {
      border-right: 1px solid;
      color: $border;
    }
    .b-right-sm {
      @include sm {
        border: none;
      }
    }
    .position-text {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  .bg-mountain {
 
    .parallax-image {
         &::before{
          content: url(../assets/imagens/cloud-top.webp);
          background-position: center;
          background-attachment: fixed;
          position: absolute;
          top: -10rem;
          background-size: auto;
          left: -21rem;
          animation: floatCloud 7s ease-in-out infinite alternate;
     
 
    }
      width: 100%;
      overflow: hidden;
      position: relative;
      img {
        .object-fit {
          -o-object-fit: cover;
          object-fit: cover;
          width: 100%;
          height: 100%;
          display: block;
          @include xl3{
            display: none;
          }
        }
      }
    }
    
    .position-text {
      position: absolute;
      text-align: center;
      width: 100%;
      top: 18%;
      img {
        max-width: 100%;
        height: auto;
      }
    }
    
    
  }
  .bravery-alpes {
    background: $dark-blue;
    img {
      width: 5rem;
    }
    p {
      color: $white;
    }
  }
  .circle-hover {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: -30px;
      left: -16px;
      width: 7rem;
      height: 7rem;
      border: 2px solid $blue;
      border-radius: 50%;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }
    &:hover {
      &::after {
        opacity: 1;
      }
      + {
        .card-body {
          transform: translateY(20px);
        }
      }
    }
  }

  .card-body {
    transition: transform 0.3s ease-in-out;
  }
  .image-container:hover + .card-body {
    transform: translateY(20px);
  }
  .bg-adventure {
    @include sm {
      background-size: cover;
      background-position: center;
    }
    position: relative;
    background-image: url(../assets/imagens/bg-adventure.webp);
    background-position: center 70%;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
    .position-text {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      img {
        width: 5rem;
      }
    }
  }
}
.content-masonry {
  height: 140vh;
  width: 0;
  position: relative;
  .container-button {
    position: absolute;
    left: 0;
    top: 28.7rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 84vw;
    button {
      width: 39px;
      height: 39px;
      border-radius: 50%;
      outline: none;
      border: 0;
      background: $blue;
      transition: 0.4s ease;
      &:hover {
        filter: brightness(0.9);
      }
      i {
        color: white;
        font-size: 1.5rem;
      }
    }
  }
  #gridContainer {
    transition: height 9s;
  }
  .grid-masonry {
    transition: transform 1.99s, opacity 0.9s;
    transform-origin: center center;
  }
  #masonry1,
  #masonry2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -999;
  }
  #masonry2.visible .front-container {
    grid-gap: 0;
  }
  .grid-masonry {
    transition: transform 1.99s, opacity 0.9s;
    transform-origin: center center;
  }
  .grid-masonry.hidden {
    transform: translateY(100%);
    opacity: 0;
  }
  .hidden {
    opacity: 0;
  }
  .front-container {
    width: 80vw;
    margin: 3em auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(10px, 1fr));
    grid-auto-rows: auto;
    grid-auto-flow: dense;
    grid-gap: 50px;
    transition: grid-gap 0.5s;
    @include xl3 {
      width: 83vw;
      margin: 0 auto;
    }
  }
  .front-container img {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .large,
  .medium,
  .small {
    display: flex;
    height: auto;
    width: auto;
    grid-column: auto / span 1;
  }
  .large {
    grid-row: span 4;
  }
  .medium {
    grid-row: span 3;
  }
  .small {
    grid-row: span 2;
  }
}
