.front-page {
  @include sm{
    overflow-x: hidden!important;
  }
  h1,
  h2 {
    color: $white;
    text-transform: uppercase;
  }
  .come-alpes {
    background-color: transparent;
    position: relative;
    &::after {
      @include sm {
        top: 27rem;
        overflow: hidden;
        width: 7rem;
      }
      content: url(../assets/imagens/cloud-right.webp);
      background-position: center;
      background-attachment: fixed;
      position: absolute;
      top: 35rem;
      background-size: auto;
      right: 0;
      animation: floatCloud 5s ease-in-out infinite alternate;
    }
    &::before {
      @include sm {
        background-image: none;
        background-color: $dark-blue;
      }
      content: "";
      display: block;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      /* opacity: 0.5; */
      z-index: -1;
      background-image: url(../assets/imagens/cloud-top.webp);
      background-attachment: fixed;
      background-position: -25rem 0rem;
      background-size: auto;
      animation: floatCloud 9s ease-in-out infinite alternate;
      background-repeat: no-repeat;
    }

    @keyframes floatCloud {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-20px);
      }
      100% {
        transform: translateY(0);
      }
    }
    .card-hover {
      transition: all 1s ease;
      &:hover {
        background: $blue;
      }
    }
    .desktop {
      display: inline-flex;
      @include sm {
        display: none;
      }
    }
    .timeline-scroll {
      position: absolute;
      left: 96.5%;
      z-index: 99;
    }
    .items {
      position: relative;
      height: 100vh;
    }

    .item {
      display: flex;
      margin-bottom: 40px;
    }

    .red-dot {
      position: absolute;
      width: 1px;
      background-color: $border;
      top: 0;
      left: 90%;
      height: 455vh;
      @include xl2 {
        height: 500vh;
      }
    }

    .dot {
      position: sticky;
      width: 0.5rem;
      height: 2.5rem;
      margin-left: -0.25rem;
      top: 80vh;
      background: $blue;
    }
    .b-bottom {
      border-bottom: 1px solid;
      color: $border;
    }

    .b-right {
      border-right: 1px solid;
      color: $border;
    }
    .b-right-sm {
      @include sm {
        border: none;
      }
    }
    .position-text {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  .bg-mountain {
    background-image: url(../assets/imagens/bg-mountain.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
  }
  .bravery-alpes {
    background: $dark-blue;
    img {
      width: 5rem;
    }
    p {
      color: $white;
    }
  }
  .circle-hover {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: -30px;
      left: -16px;
      width: 7rem;
      height: 7rem;
      border: 2px solid $blue;
      border-radius: 50%;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }
    &:hover {
      &::after {
        opacity: 1;
      }
      + {
        .card-body {
          transform: translateY(20px);
        }
      }
    }
  }

  .card-body {
    transition: transform 0.3s ease-in-out;
  }
  .image-container:hover + .card-body {
    transform: translateY(20px);
  }
  .bg-adventure {
    @include sm{
      background-size: cover;
      background-position: center;
    }
    position: relative;
    background-image: url(../assets/imagens/bg-adventure.webp);
    background-position: center 70%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    .position-text {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      img {
        width: 5rem;
      }
    }
  }
}
