.news-single-alpes {
  p,
  li,
  ul,
  a {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: $text-dark-blue;
  }
  .bg-cloud {
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 80%;
      height: 12rem;
      bottom: -12rem;
      left: -15rem;
      background-image: url(../assets//imagens/bg-cloud.webp);
      background-repeat: no-repeat;
      background-size: 45%;
      @include sm {
        background-image: none;
      }
      @include md {
        background-image: none;
      }
      @include xl3 {
        width: 66%;
      }
    }
  }
  .social-alpes {
    a {
      color: $text-dark-blue;
    }
    i {
      font-size: 2.5rem;
      transition: 0.5s;
      &:hover {
        transform: translateY(5px);
      }
    }
  }
  .news-form {
    p,
    label {
      margin: 0;
    }
    label,
    input,
    textarea {
      width: 100%;
      resize: none;
    }
    input,
    textarea {
      accent-color: $blue;
      background-color: $white;
      color: $black;
      padding: 0.7rem;
      border: 0;
      outline: none;
      font-weight: 400;
      transition: 0.5s;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      color: $text-dark-blue;
      &:focus {
        box-shadow: 0.063rem 0.313rem 1.125rem 0.063rem rgba(0, 0, 0, 0.13);
      }
    }
    textarea {
      height: 15rem;
    }
    input[type="submit"] {
      width: auto;
      background: $blue;
      display: inline-block;
      margin: 0;
      text-transform: none;
      word-wrap: break-word;
      white-space: normal;
      border: 0;
      padding: 0.65rem 1.55rem;
      font-size: 16px;
      @include sm {
        font-size: 14px;
      }
      color: $white !important;
      font-weight: 400;
      text-align: center;
      vertical-align: middle;
      line-height: 1.5;
      transition: all 1s ease;
      outline: none;
      &:hover {
        filter: brightness(0.8);
      }
    }
    span,
    div {
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
    }
    .wpcf7-spinner {
      display: block !important;
    }
  }

  .mt-10 {
    @include sm {
      margin-top: 0;
    }
  }
  .custom-post {
    h2,h3,h4,h4,h6 {
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      color: $text-dark-blue;
    }
    .date-post {
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
    }
  }
  .overlay-bottom {
    background-image: url(../assets/imagens/overlay-right.webp);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: bottom;
    @include sm {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: bottom;
    }
  }
}
