.sidebar{
  height: 0vh;
  @include sm{
    height: auto;
  }
 
  h2{
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: $text-dark-blue;
    &::before{
      content: "";
      display: block;
      width: 28%;
      background: $blue;
      margin: 0 ;
      height: 4px;
      margin-bottom: 1rem;

    }
  }
}
.sidebar-single{
  height: auto;
 
  h2{
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: $text-dark-blue;
    &::before{
      content: "";
      display: block;
      width: 28%;
      background: $blue;
      margin: 0 ;
      height: 4px;
      margin-bottom: 1rem;

    }
  }
}